################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BloodSolutions/.vs/BloodSolutions
/BloodSolutions/BloodSolutions.Initial/bin/Debug/net6.0
/BloodSolutions/BloodSolutions.Initial/obj
/BloodSolutions/.vs/ProjectEvaluation
